body{
  background-color:white ;
}
h1 {
  color:#344CB7;

}
h2 {
  color:#344CB7;
  padding-top:10px;

}
h3 {
  color:#344CB7;
  }
  hr {
    border-top:0 solid;
padding-top: 0;
  border-color: black;
}
.list-spacing{
  margin-right: 2rem;
}
